<div class="row valign-wrapper">
  <div class="col s12">
    <div class="center-align"><a class="btn blue btn-large waves-effect waves-light" type="button" name="action" href="/signup">Signup</a></div>
    <div class="center-align"><a class="btn blue btn-large waves-effect waves-light" type="button" name="action" href="/login">Login </a></div>
  </div>
</div>