
<%= form_for :user do |f| %>
<div class="row">
  <div class="col m10 offset-m1 s12">
      <h2 class="center-align">Kenny Logins Info</h2>
      <div class="divider"></div>
        <div class="row">
            <br>
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">mail</i>
                <%= f.text_field :email, class: 'input' %>
                <label for="email">Email</label>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">lock</i>
                <%= f.password_field :password, class: 'input'  %>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col m12">
              <!-- <p class="center-align"><button class="btn blue btn-large waves-effect waves-light" type="button" name="action">Login</button></p> -->
              <p class="center-align"><%= f.button 'Login', class: "btn blue btn-large waves-effect waves-light" %></p>
            </div>
        </div>
      </div>
  </div>
</div>
<% end %>