<div class="col s12">
  <div class="card-panel hoverable">
    <div id="user-widget">
      <% if current_user %>
        <%= match_path %>
      <% else %>
        <h6><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></h6>
      <% end %>
    </div>
  </div>
</div>
