<% userMatch = @userMatch %>
<% userGames = userMatch.games %>
<div class='row valign-wrapper profile'>
  <div class="col s2"></div>
  <div class="col s1">


    <a method="get" action="match_controller/match" class="button_to btn-floating btn-large hoverable waves-effect waves-light red thumbs-down"><i class="material-icons">thumb_down</i></a>

  </div>
  <div class="col s6">
    <div class="card large hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://placehold.it/400x400">
      </div>
      <div class="card-content">

        <span class="card-title activator grey-text text-darken-4">match_user_id<i class="material-icons right">games</i></span>
        <h6>Battlefield 4</h6>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Games List<i class="material-icons right">close</i></span>
        <% userGames.each do |game| %>
          <li><h6><%= game.name %></h6></li>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s1">
    <a class="btn-floating btn-large hoverable waves-effect waves-light red"><i class="material-icons">thumb_up</i></a>
  </div>
  <div class="col s2"></div>
</div>