 <div class='row valign-wrapper profile'>
  <div class="col s3"></div>
  <div class="col s6">
    <div class="card large hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://placehold.it/400x400">
        <span class="card-title"><i data-target="modal1" class="modal-trigger material-icons ">loop</i></span>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">show_gamer_name<i class="material-icons right">games</i></span>
        <li class="collection-item">
          <button data-target="modal2" class="btn modal-trigger">Update Games</button>
        </li>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Games List<i class="material-icons right">close</i></span>
          <li class="collection-header"></li>
          <li class="collection-item">Game</li>
          <li class="collection-item">Game</li>
          <li class="collection-item">Game</li>
          <li class="collection-item">Game</li>
      </div>
    </div>
  </div>
  <div class="col s3"></div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content center-align">
      <h6>Update your profile pic!</h6>
      <img class="materialboxed responsive-img profile-pic" width="300" src="http://placehold.it/300x300">
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Update</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Add or edit your games!</h4>
      <p>users.games.list<p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>

